@import "./variables.scss";

.card {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    height: 80%;
    width: 80%;
    background: white;
    border-radius: $default-border-radius;
}

.dimLayer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vh;
    background: black;
}