@import 'variables.scss';

.events {
    height: 100%;
    width: 100%;
    color: white;
    padding: $default-page-padding;
}

.eventsList {
    display: block;
}

.event {
    margin: 0 5%;
    display: grid;
    padding: 10px 15px;
    grid-template-columns: 3.5em 1fr;
    border-radius: .8em;
    background: white;
    color: $font-black;
    cursor: pointer;
    box-shadow: 0 .06em .06em rgba($color: #000000, $alpha: 0.5);
    margin-bottom: 10px;

    > img {
        max-width: 60px;
        border-radius: 50%;
        object-fit: cover;
        align-self: center;
        justify-self: center;
    }

    > div {
        display: grid;
        align-content: start;
        margin-left: 10px;

        > h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 900;
            padding-bottom: 10px;
        }

        > div {
            display: grid;
            grid-template-columns: 15px 1fr;
            color: #353535;
            gap: 8px;
            font-size: 14px;


            > i {
                justify-self: center;
            }
        }
    }
}