@import 'variables.scss';

.Map {
    height: 100%;
    width: 100%;
    color: white;
    padding: $default-page-padding;
    display: block;
    text-decoration: none;
}

.MapContainer {
    height: calc(100% - 115px);
	box-shadow:  .1em .1em .3em rgba($color: #000000, $alpha: 0.3),
                -.1em -.1em .3em rgba($color: #000000, $alpha: 0.3);
    border-radius: $default-border-radius;
}

.MapEvent {
    width: 100%;
    height: 100%;
    display: grid;
    padding: .2em;
    grid-template-columns: 3.5em 1fr;
    border-radius: .8em;
    background: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 .06em .06em rgba($color: #000000, $alpha: 0.5);

      
        > img {
            height: 5em;
            width: 4.5em;
            border-radius: 50%;
            object-fit: cover;
            align-self: center;
            justify-self: center;

        }

        > div {
            display: grid;
            align-content: start;
            margin-left: 10px;

            > h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 900;
                padding-bottom: 10px;
            }

            > div {
                color: #353535;
                grid-template-columns: 15px 1fr;
                color: #353535;
                gap: 8px;
                font-size: 14px;
                > i {
                    margin-right: .5em;
                    justify-self: center;
                }
            }
        
    }
}

.loader {
    position: absolute;
    height: 2em;
    width: 2em;
    top: calc(50vh - 3em);
    left: calc(50vw - 3em);
    border-radius: 100%;
    background: #FCE972;
    box-shadow: 
      4em 0 0 0 #76D28B,
      4em 4em 0 0 #80C5C3,
      0 4em 0 0 #FE89A9;
    filter: drop-shadow(0 0 .1em #000002);
    animation: 
      showUp 1s,
      rotate 5s 1s infinite linear,
      collapse 2.5s 1s infinite alternate ;
    transform-origin: 3em 3em;
  }
  
  @keyframes rotate {
    from{transform: rotate(0)}
    to{transform: rotate(360deg)}
  }
  
  @keyframes collapse {
    0%{
      box-shadow: 
        4em 0 0 0 #76D28B,
        4em 4em 0 0 #80C5C3,
        0 4em 0 0 #FE89A9;
      top: calc(50vh - 3em);
      left: calc(50vw - 3em);
      transform-origin: 3em 3em;
    }
    50%{
      box-shadow: 
        4em 0 0 0 #76D28B,
        4em 4em 0 0 #80C5C3,
        0 4em 0 0 #FE89A9;
      top: calc(50vh - 3em);
      left: calc(50vw - 3em);
      transform-origin: 3em 3em;
    }
    100%{
      box-shadow: 
        .2em 0 0 0 #76D28B,
        .2em .2em 0 0 #80C5C3,
        0 .2em 0 0 #FE89A9;
      top: calc(50vh - 1.1em);
      left: calc(50vw - 1.1em);
      transform-origin: 1.1em 1.1em;
    }
  }
  
  @keyframes showUp{
    from{
      box-shadow: 
        0 0 0 0 #76D28B,
        0 0 0 0 #80C5C3,
        0 0 0 0 #FE89A9;
      top: calc(50vh - 1em);
      left: calc(50vw - 1em);
      transform-origin: 1em 1em;
    }
    to{
      box-shadow: 
        4em 0 0 0 #76D28B,
        4em 4em 0 0 #80C5C3,
        0 4em 0 0 #FE89A9;
      top: calc(50vh - 3em);
      left: calc(50vw - 3em);
      transform-origin: 3em 3em;
    }
  }