@import 'variables.scss';

.navbar {
    position: fixed;
    background: white;
    width: 100vw;
    bottom: 0;
    height: $navbar-height;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -.1em .1em rgba($color: #000000, $alpha: 0.5);
    padding: 10px;

    .icons {
        // display: flex;
        // justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        .iconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $font-black-light;

            i {
                font-size: 22px;
            }

            div {
                font-size: 12px;
                font-weight: 700;
            }

            &.selected {
                color: #796BFE;
            }
        }
    }
}