@import 'variables.scss';

.navbar {
    position: fixed;
    background: white;
    width: 100vw;
    bottom: 0;
    height: $navbar-height;
    border-radius: 15px 15px 0 0;
    padding: 10px;

    .icons {
        display: flex;
        justify-content: space-around;

        .iconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $font-black-light;

            i {
                font-size: 22px;
            }

            div {
                font-size: 12px;
                font-weight: 700;
            }

            &.selected {
                color: #796BFE;
                // color: transparent;
            }
        }
    }
}